APP_URL=campuslife.social

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=campuslife

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

FRONTEND_PORT=4200
BACKEND_PORT=3000
BACKEND_URL=http://backend:3000
BASE_URL=http://localhost
JWT_SECRET=change-this-in-production
